@import '~office-ui-fabric-core/src/sass/variables/Color.Variables';

.nav {
  background-color: white;

  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  padding-left: 20px;

  display: flex;
  align-items: center;

  .logo {
    display: inline-block;
    margin-left: 20px;

    img {
      margin: auto;
      padding-left: 2%;
    }
  }

  .navMenu {
    display: flex;
    align-items: center;

    margin: 0 16px;
  }

  .hamburgerMenu {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .navMenu {
      display: none;
    }

    .logo {
      margin: 0;
    }

    .hamburgerMenu {
      display: block;
    }
  }

  .verticalSeparator {
    width: 1px;
    height: 30px;
    background-color: black;
    margin: auto 0;
  }

  .stack {
    position: absolute;
    z-index: 1001;
    height: 100%;
    right: 0;
  }

  .link {
    text-decoration: none;

    & > * {
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//@media screen and (max-width: 800px) {
//  .nav {
//    justify-content: center;
//  }
//}

.smallLink {
  font-size: small;
  text-decoration: none;
}

.personaBtn {
  padding: 0 25px 0 10px;
  height: 100%;
}

.personaBtnSimple {
  padding: 0 30px 0 10px;
  height: 100%;

  &:hover {
    background-color: $ms-color-neutralLighter;
  }
}

.box {
  background-color: white;

  max-width: 300px;
  padding: 20px 40px;

  margin: auto;
  z-index: 1;

  overflow: hidden;
}

.slide {
  animation-name: ms-motion-slideLeftIn;
  animation-duration: 0.5s;
}

.cardGridContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.listGridTile {
  position: relative;
  outline: none;
  float: left;

  display: flex;
  justify-content: center;

  padding-top: 10px;
}

.listGrid {
  padding: 0 20px;
  overflow: auto;
}

.card {
  display: inline-block;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  display: flex;
  padding-bottom: 10px;

  .centerBox {
    margin: auto;

    .column {
      float: left;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 40px 30px;

  background-color: white;
}

.groupListHeader {
  padding: 0 10px;

  border: none;
  border-bottom: 1px solid gray;

  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #edebe9;
  }
}

.questionFormBox {
  width: 55%;
}

.flexContainer {
  margin: 30px auto 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 10% 10px;
  }

  .cardGridContainer {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .questionFormBox {
    width: 70%;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .questionFormBox {
    width: 100%;
    margin: 0;
  }
}

.pad {
  padding: 8px;
}

.msgMgmtHeader {
  padding: 0 30px;
}

.scrollablePane {
  height: 100%;
  overflow-y: auto;
}

.msgIcon {
  align-self: center;
  font-size: 15px;
  flex-shrink: 0;
}

.msgEditBox {
  padding: 0 35px;
}

.widthLimit {
  max-width: 500px;
}

.msgList {
  height: 100%;
  padding: 0 10px;

  .icon {
    align-self: center;
    font-size: 15px;
    flex-shrink: 0;
  }

  .content {
    margin-left: 10px;
    overflow: hidden;
    flex-grow: 1;
  }

  .description {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.leftRight {
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.accountBox {
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #ccc;
}

.cardDetails {
  box-sizing: border-box;
  padding: 0 5px 10px 5px;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  max-width: 600px;

  .body {
    flex: 4 4 auto;
    padding: 16px 24px 24px 24px;
    overflow-y: hidden;

    p {
      margin: 14px 0;
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

